@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins&family=Space+Grotesk&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
}


.navbar{
    display: flex;
    justify-content:space-around;
    align-items:center ;
    background-color: black;
    color: white;
    height: 100px;
    
}
.menu{
    display: flex;
    list-style: none;
    gap: 40px;
    
}
a{
    color: white;
    text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo{
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Poppins';
}


button{
    background-color: #ED661F;
    color: white;
    padding: 15px 20px;
    font-weight: bold;
}

.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 900px;  
    background-image: url(../image\ 1\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro-image img {
    width: 800px;
}
.introduction h3{
    font-size: 65px;
}
.introduction p{
    font-size: 26px;
}

.intro-box ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-align: center;
    font-weight: bold;
   
   
    padding: 30px;
    height: 50px;
}


.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.content-image img{
    width: 700px;
}
.reason h3 {
    font-weight: bold;
    font-size: 24px;
}

.reason p{
    font-size: 20px ;
    
}

.products{
    display: flex;
    flex-direction:column ;
    align-items: center;
    height: 300px;
    justify-content: center;
    text-align: center;
}

.products h3 {
    font-weight: bold;
    font-size: 26px;
}

.products p{
    font-size: 25px;
}
.most-popular h2{
    padding-left: 170px;
    padding-bottom: 20px;
}
.popular img{
    width: 200px;
}
.popular ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 400px;
    align-items: center;
}
.items img{
    width: 200px;
}
.items ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 500px;
    align-items: center;

}
.newest-item h2{
    padding-left: 165px;
    padding-bottom: 30px;
    padding-top: 30px;

}

.see {
    display: flex;
    padding-right: 250px;
    justify-content: end;
    gap: 10px;
}

#line{
    color: #ED661F;
    height: 100px;
}
hr {
    height: 20px;
    background: #ccc;
    margin: 10px;
}

.paragraph h2{
    padding-left: 250px;
}

.feedback ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 300px;
    align-items: center;
    padding-top: 40px;
}


.paragraph h2{
    padding-top: 50px;
    
}

.paragraph p {
    font-weight: bold;
    font-size: 26px;
}

.ratings li{
    border: 1px solid #ccc;
    padding:15px 30px;
}

.stars i{
    color: #ED661F;
    width: 20px;
    
}

.stars {
    display: flex;
    gap: 20px;
    height: 50px;
}

.rebecca{
    display: flex;
    align-items: center;
    gap: 20px;
    
    
}
.rebecca img{
    width: 50px;
    height: 50px;
    
}

.john{
    display: flex;
    align-items: center;
    gap: 20px;
}
.john img{
    width: 50px;
    height: 50px;
}

.lavington{
    display: flex;
    align-items: center;
    gap: 20px;
}

.lavington img{

    width: 50px;
    height: 50px;
}

.read {
    display: flex;
    padding-right: 250px;
    justify-content: end;
    gap: 10px;
}

.footer h3 {
    font-weight: bold;
    font-size: 30px;
}

ul.footer li h4 {
    font-size: 20px;
    padding-bottom: 10px;
}

.footer p {
    color: #cccc;
    padding-top: 5px;
}

.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
    background-color: black;
    color: white;


}
input{
    padding: 15px 90px 15px 60px;
}


button.btn-email {
    border: none;
    padding: 16px 30px 17px 30px;
}
.footer2 ul{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    margin-top: 5px;
    list-style: none;
    height: 400px;
    align-items: center;


    
    
}


#last{
    display: flex;
}

.icons {
    padding-top: 15px;
    display: flex;
    gap: 20px;
    color: #ccc;
}

p.app {
    color: #fff;
    font-weight: bold;
    padding-top: 20px;
    font-size: 20px;
}

.download {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #ccc;
    color: #000;
    border-radius: 7px;
    width: 200px;
}

.ios p {
    color: #000;
    padding-left: 10px;
}
span.ios {
    font-weight: bold;
    font-size: 20px;
}

.mainapps {
    display: flex;
    height: 100px;
    align-items: center;
}

.ios {
    display: flex;
    background: #ccc;
    align-items: center;
    color: #000;
    padding-left: 20px;
    border-radius: 7px;
}

.playstore img {
    width: 200px
}



